################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin

/WELSConsole/bin
/WELSConsole/obj

/WELSCore/bin
/WELSCore/obj

/WELSearchGUI/bin
/WELSearchGUI/obj
