<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LogFile.Output" value="Log.Output.txt"/>
		<add key="LogFile.Exception" value="Log.Exceptions.txt"/>

		<add key="Path.Input" value="C:\Temp\wEventLogSearch\InputEventFiles-{MM}-{dd}-{yyyy}.evtx"/>
		<add key="Path.Output" value="C:\Temp\wEventLogSearch\Output-{MM}-{dd}-{yyyy}.csv"/>

		<add key="Search.EventIDs" value="4689 or EventID=4688"/>
		<add key="Search.Filter" value=""/>
		<add key="Search.ValueLocations" value=""/>
		<add key="Search.TimeDifference" value="-1"/>

		<add key="Bool.InputIsSingleFile" value="True"/>
		<add key="Bool.IncludeLogSource" value="True"/>
		<add key="Bool.GroupIntoOneColumn" value="False"/>

	</appSettings>
</configuration>
